* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,0e0e0e+100 */
    background: #2b2b2b; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #2b2b2b 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #2b2b2b 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #2b2b2b 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 2px solid #212121;
    height: calc(100% - 4px);
    overflow: none;
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

#navigation_bar {
    height: 40px;
    background: #212121;
    display: flex;
    -webkit-app-region: drag;
    align-items: center;
}
    #navigation_bar > p {
        color: #FFF;
        font-weight: bold;
        margin-left: 10px;
    }
    #navigation_bar > ul {
        height: 30px;
        margin-left: auto;
        margin-right: 10px;
        display: flex;
    }
        #navigation_bar > ul li {
            height: inherit;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-app-region: no-drag;
            transition: background 0.1s linear;
            color: #FFF;
        }
            #navigation_bar > ul li i {
                color: #FFF;
                font-size: 16px;
            }
            #navigation_bar > ul li > img {
                width: 25px;
                height: 25px;
            }
            #navigation_bar > ul li:hover {
                background: #333;
                cursor: pointer;
            }
        #navigation_bar > ul li + li {
            margin-left: 5px;
        }

#win_content {
    flex-grow: 1;
}
